

.full{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .zero{
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
  
    }

    .bigbox{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;

        .one{
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: pink;
            margin: 10px;
            border-radius: 50px;
            
        }

    }

    
}